{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">¡Conócenos!</h1>
    <p class="lead">
        Somos una empresa en desarrollo.
        <hr class="my-4" />
        <p>
            Para contactar con nostros puedes seguirnos en Instagram <a href="https://www.instagram.com/pub.kauri/"
                target="blank">@pub.kauri</a>. <br />
        </p>
</div>

<div class="card" style="width: 37rem;">
    <img src="../imagenes/ballester.jpeg"
        alt="Es Jose con una pose guay"
        width="185"
        height="273"
        title="Dj de moda">
    <div class="card-body">
        <p style="color: rebeccapurple;"class="card-text">Por aquí os dejo también el Instagram de nuestro Dj de moda y su SoundCloud.</p>
        <a href="https://www.instagram.com/ballester_j/" target="blank" class="card-link">Instagram</a>
        <a href="https://soundcloud.com/ballesterjose" target="blank" class="card-link">SoundCloud</a>
    </div>
</div>

{% endblock %}

