{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">No te arrepentirás de contratar nuestros servicios</h1>
    <p class="lead">
      Actualmente ofrecemos camareros de lujo, así como cachimbas de la mejor calidad.
    <hr class="my-4" />
    <p>
      Para contactar con nostros puedes seguirnos en Instagram <a href="https://www.instagram.com/pub.kauri/" target="blank">@pub.kauri</a>. <br/>
      Estamos en calle tal y cual.
    </p>
</div>
{% endblock %}